{% extends "layout.html" %}

{% block body %}


   <!-- <form action="/greet" method="post">
    <input autocomplete="off" name="name" autofocus placeholder="name" type="name">
    <label for="text"></label>
    <button  autofocus type="submit">greet</button>
   </form> -->


   <form action="/register" method="post">
      <input autocomplete="off" autofocus name="name" placeholder="name" type="text">
      <select name="sports">
          <option disabled selected value="sports">sports</option>
          {% for sport in sports %}
          <option value="{{sport}}">{{sport}}</option>
          
      </select>
<button style="border-radius: 10px ; color: blueviolet; " type="submit">register</button>
  </form>

    


   {% endblock %}