<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <section>
            <option value="basketbal">Basketball</option>
            <option value="handball">handball</option>
            <option value="Rocky ball">Rocky ball</option>
            <option value="Footbal">Football</option>
        </section>
<button type="submit">register</button>
    </form>
</body>
</html>