{% extends "layout.html" %"}

{% block body %}
<body>
    <form action="/register" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="type" type="text">
        <select>
            <option disabled selected value="sports">sports</option>
            <option value="basketbal">Basketball</option>
            <option value="handball">handball</option>
            <option value="Rocky ball">Rocky ball</option>
            <option value="Footbal">Football</option>
        </select>
<button style="border-radius: 10px ; color: blueviolet; " type="submit">register</button>
    </form>
</body>
</html>